{% load static %}
{% if messages %}
<div class="container">

    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

        <strong>Oh snap!!</strong> {{ message}}.
    </div>

    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

    <div class="alert alert-success alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Well done!!</strong> {{ message}}.
    </div>

    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <div class="alert alert-info  alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

        <strong>Heads up!!</strong> {{ message}}.
    </div>
    {% else %}
    <div class="alert alert-warning  alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!!</strong> {{ message}}.
    </div>

    {% endif %}
    {% endfor %}
</div>

{% endif %}
